body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #EB6E44;
	transition: color 0.2s ease-in-out;
}

a:hover {
	color: #C65638;
	transition: color 0.2s ease-in-out;
}

input, input:focus {
	box-shadow: none !important;
	border: none;
	outline: none;
}

.section-title {
	text-align: center;
	font-weight: 800;
}

/*
===========================================================
LANDING SECTION
===========================================================
*/

section.landing {
	background: url(../img/bg.jpg) no-repeat center center;
		-webkit-background-size: 	cover;
		-moz-background-size: 		cover;
		-o-background-size: 		cover;
	background-size: 				cover;
	height: 100%;
}

#site-logo {
	margin: 7em 2em 3em 0;
}

#site-description {
	color: #fff;
	margin-bottom: 3em;
}

input.email {
	display: inline-block;
	padding: 1.2em;
	background: none;
	font-size: 1em;
	border: 2px solid #fff;
	color: #fff;
}

input.email:focus {
	background: none;
}

input.email::-webkit-input-placeholder {
   color: #D8D8D8;
}

input.email:-moz-placeholder { /* Firefox 18- */
   color: #D8D8D8;  
}

input.email::-moz-placeholder {  /* Firefox 19+ */
   color: #D8D8D8;  
}

input.email:-ms-input-placeholder {  
   color: #D8D8D8;  
}

input.notify {
	padding: 0.7em 2em 0.7em 2em;
	background: #8DCDC1;
	border: none;
	color: #fff;
}

input.notify:hover {
	background: #65998F;
	transition: background 0.2s ease-in-out;
}

/*
===========================================================
NAVIGATION
===========================================================
*/

#site-nav {
	padding: 2em;
	background: #7C786A;
	font-weight: 800;
}

#site-title {
	display: inline-block;
	font-size: 1.9em;
	text-transform: uppercase;
	color: #2B2924;
	font-weight: 800;
}

#site-title a {
	color: #2B2924;
}

#site-title a:hover {
	color: #141310;
}

#site-nav ul {
	margin: 0;
	padding-top: 1em;
	display: inline-block;
}

#site-nav li {
	display: inline-block;
	margin-left: 2em;
	list-style-type: none;
}

#site-nav li a {
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}

#site-nav li a:hover {
	color: #AFACA7;
}

/*
===========================================================
MEET THE TEAM
===========================================================
*/

section.team {
	background: #EB6E44;
	color: #fff;	
}

#team-title {
	color: #fff;
	text-transform: uppercase;
	margin: 2em 0;
}

.exec-img {
	width: 100%;
	height: 150px;
	display: inline-block;
	background: #333;
}
	
#exec .name, #exec .role {
	text-align: center;
	display: block;
	float: none;
}

.name, .role, #sub-teams h3 {
	font-size: 0.9em;
}

.name {
	font-weight: 700;
}

.role {
	font-style: italic;
	float: right;
}

#sub-teams ul {
	display: inline-block;
	margin: 0;
	margin-bottom: 5em;
}

#sub-teams ul:first-child {
	padding-left: 0;
}

#sub-teams ul:last-child {
	padding-right: 0;
}

#sub-teams h3 {
	font-weight: 700;
}

#sub-teams li {
	list-style-type: none;
}